* {
    box-sizing: border-box;
}

h1 {
    margin: auto;
}


/********************** Flex ********************/

.wrap,
.main-header,
.main-nav ul,
.what_we_offer,
footer {
    display: flex;
}


/********************** Header ********************/

.main_title {
    order: -1;
    margin-top: 5px;
    font-family: 'Noticia Text', serif;
    font-size: 3rem;
}

.main-header {
    text-align: center;
    flex-direction: column;
    background-color: #00B08B;
    margin: auto;
    height: 170px
}


/********************** Nav ********************/

.main-nav {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

.main-nav ul {
    padding: 0;
}

.main-nav li {
    display: block;
    margin: auto;
}


/******* Nav page links *********/

.main-nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}

.main-nav a:hover {
    color: white;
}

.selected a {
    color: white;
}


/********************** Body ********************/

.home_page img,
.what_I_do img,
.contact_us img {
    max-width: 100%;
}

.wrap {
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'Noticia Text', serif;
}


/***************** what we offer page  ****************/

.last-p,
.what_we_offer div {
    margin: 25px 0 50px 0;
    padding: 10px 5px;
    border: 1px solid #00B08B;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #00B08B;
}

.what_we_offer div p {
    margin: auto;
    padding: 15px;
}

.last-p {
    margin: 10%;
    padding: 5px;
    text-align: center;
}

/********************** LightBox  ********************/


#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  display: none;
  text-align: center;
}

#overlay img {
 margin-top: 10%; 
}

#overlay p {
 color:white; 
}



/******************* contact me page  ********************/

.contactMe img {
    max-width: 100%;
}

.btn {
    margin: 15px 0;
}

.contact-form {
    font-weight: 400;
}

.contact-form input,
.contact-form textarea {
    border: solid 2px #00B08B;
}


/********************** footer ********************/

footer {
    justify-content: space-around;
    align-items: center;
    background-color: #00B08B;
    height: 85px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

footer img {
    height: 50px;
    width: auto;
}

.social_media {
    margin-top: 5px;
}

.social_media img {
    margin: auto 3px;
}



/******************** media Quierys ********************/

@media screen and (min-width: 509px) {
    .main_title {
        margin: auto;
        padding: 0 10px
    }
}

@media screen and (min-width: 630px) {

    
    .wrap {
        max-width: 80%;
    }
/****************** fix main pics on pages ****************/
    .home_page img,
    .what_I_do img,
    .contact_us img {
        display: flex;
        margin: auto;
        padding-top: 30px;
    }
    .home_page img,
    .what_I_do img {
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact_us img {
        max-width: 80%;
    }
/***************** what we offer page ******************/
    .what_we_offer {
        display: flex;
        flex-direction: column;
     /*   max-width: 70%*/
    }
    
    /********************** fixes form ******************/

        .contact-form {
        padding: 50px 0;
    }
}




@media screen and (min-width: 800px) {

    .main-header {
        flex-direction: row;
        align-items: center;
        margin: auto;
        justify-content: space-between;
    }
    .main_title {
        margin: auto;
        max-width: 45%;
    }
    .main-nav {
        margin-right: auto;
    }
    .wrap p {
        align-self: center;
        max-width: 90%;
    }

    .what_we_offer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
        
    .what_we_offer div {
        flex: 2 45%;
        margin: 10px;
    }

    
    .stacked-pic {
        display: flex;
        justify-content: space-around;
    }
}
